## From Pandas

In [ ]:
# print out the number of rows and columns
print("There are {} rows and {} columns in the titanic dataset".format(numrows, numcols))

In [ ]:
#colnames = colnames.tolist()
# or

## From NewVar

## 3.4 Classifying Numerical Values using pd.cut() and pd.qcut()

New columns can be created directly when classifying numerical data using `pd.cut()` or `pd.qcut()`

`cut()` has two behaviours. The default is to create a given number of equal-sized bins (e.g. the width of all bins are the same), however if you provide bins it will cut according to those bins.

`qcut()` is similar, but rather than equal-sized bins it created bins that have (roughly) equal numbers of observations in them. These bins could have very different widths.

In [ ]:
# Divide fare into 3 equally sized classes.
titanic['fare_3class'] = pd.cut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

In [ ]:
# Divide fare into tertile.
titanic['fare_tertiles'] = pd.qcut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

## From CrossTab

# Crosstabs, Contingency, and Two-Way Tables

Similar to aggregation with `.groupby()` a cross-tabulation table allows you to generate frequencies for combinations of groups of data.

## 7.1 Crosstabulation using the `pd.crosstab()` top-level function

Crosstabs are often also refered to as 'contingency tables' and 'two-way tables' and, although there may be some subtle distinctions, these all refer to the setting of one categorical variable against another, creating a matrix, and then counting, or otherwise aggregating by cell values.

To create cross-tabulations, you can use the `pandas.crosstab()` function.

Let's have a look at a simple example:

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'])

The basic use of `.crosstab()` requires that you input the row category ('survived') and the column category ('sex'). This produces cell counts for the cross-tabulation of the two categories, so there were 339 passengers who were both 'female' and 'survived'.

The basic crosstab can be augmented with some additional parameters:
* `margins` - set to `True` to add row and column totals.
* `normalize` - create row or column proportions, or overall proportions, rather than frequencies. Keywords are 'index', 'columns' or 'all'.

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'], margins=True, normalize = 'columns')

# Exercise 6

1. What is the average fare paid by men and women?
2. What is the median fare paid by men and women in each different class?
3. Create a crosstab for 'survived' and 'pclass', which class is the best for survival?

In [ ]:
## Question 1

#print(titanic.groupby('sex')['fare'].mean(),'\n')

## Question 2

#print(titanic.groupby(['sex','pclass'])['fare'].median(),'\n')

## Question 3

#print(pd.crosstab(titanic['survived'],titanic['pclass'], margins=True, normalize = 'columns'))